* {
    padding: 0;
    margin: 0;
}
hamburgers {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
hamburger {
    position: fixed;
    opacity: 0;
    transition: opacity 1s;
    * {
        user-select: none;
        width: 10vmin;
        height: 10vmin;
    }
}